
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Inter','Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;
}
body{
  background-color: #0F172A;
}

main{
  max-width: 640px;
  margin: 0 auto 50px;
  padding:20px;
}
header{
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}
header h1{
  font-size:25px;
  color:#f1f5f9;
}
#quiz{
  counter-reset:quiz-item;
}
.quiz-item{
  margin-top: 24px;
  border: 1px solid #475569;
  border-radius: 6px;

  overflow: hidden;
}
.quiz-item h3{
  padding: 16px 20px;
  color:#e2e8f0;
  background: #1e293b;
  display: flex;
  align-items: center;
  gap: 12px;
}
.quiz-item h3::before{
  counter-increment: quiz-item;
  content: counter(quiz-item);

  width: 28px;
  height: 28px;

  background: #475569;
  font-size: 12px;
  margin-right: 8px;
  border-radius: 50%;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.quiz-item dl{
  padding:20px 24px;
  display: grid;
  gap:8px;
}
.quiz-item dl dt{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap:8px;
  color:#e2e3f0;
}
input{
  all:unset;
  border: 1px solid #94a3b8;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
input:checked{
  border-color:#a3e635 ;
}
input:checked:before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a3e635;
}
#acertos{
  text-align: center;
  background: #a3e635;
  position: fixed;
  bottom:0;
  left:0;
  right: 0;
  padding:12px;
}